body{
  padding: 0;
  margin: 0;
  display: flex;

  font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
  font-weight: bold;
  font-size: 16px;

	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

canvas{
  display: block;
  z-index: 0;
}

.button{
  z-index: 1;
  display: inline-block;
  color: white;
  background-color: DimGrey;

  font-size: 28px;
  line-height: 64px;

  border-radius: 8px;
  height: 64px;
  width: 200px;
  position: fixed;
  text-align: center;
}

#title-button{
  left: 50%;
  top: 60%;
  margin-top: -32px;   /* -height / 2 */
  margin-left: -100px; /* -width / 2  */
}

#tutorial-button{
  right: 10%;
  bottom: 10%;
  margin-top: -32px;
  margin-left: -100px;
}

.button:hover{
	background-color: Coral;
  color: white;
  cursor: pointer;
}

.text{
  color: white;
  font-size: 32px;
}

.obj-trigger{
  z-index: 1;
  display: inline-block;
  background-color: white;
  opacity: 0;
  position: fixed;
  text-align: center;
}

/* front objs */
#keypad{
  height: 9%;
  width: 4%;
  left: 33.5%;
  top: 47%;
}
#switch{
  height: 7%;
  width: 3%;
  right: 31%;
  top: 48%;
}
#panel{
  height: 10%;
  width: 10%;
  right: 27%;
  bottom: 12%;
}
