body {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  font-weight: bold;
  font-size: 16px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  overflow: hidden;
  background-color: #262626;
}

html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

canvas {
  display: block;
  z-index: 0;
}

#p5_loading {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: block;
}

.loader {
  position: absolute;
  border: 16px solid Grey;
  border-top: 16px solid Coral;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 30px;
  margin-top: 30px;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button {
  z-index: 1;
  display: inline-block;
  color: white;
  background-color: DimGrey;
  font-size: 28px;
  line-height: 64px;
  border-radius: 8px;
  height: 64px;
  width: 200px;
  position: fixed;
  text-align: center;
}

#title-button {
  left: 50%;
  top: 60%;
  margin-top: -32px;
  /* -height / 2 */
  margin-left: -100px;
  /* -width / 2  */
}

#tutorial-button {
  right: 10%;
  bottom: 10%;
  margin-top: -32px;
  margin-left: -100px;
}

#close-button {
  right: 30%;
  bottom: 8%;
  margin-top: -32px;
  margin-left: -100px;
}

#confirm-button {
  left: 30%;
  bottom: 8%;
  margin-top: -32px;
  margin-right: -100px;
}

.button:hover {
  background-color: Coral;
  color: white;
  cursor: pointer;
}

.inventory {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  width: 116px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}

.item {
  z-index: 2;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 8px;
  border-radius: 16px;
  display: inline-block;
  background-color: white;
}

.direction-indicator {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  width: 116px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  display: none;
}

.text {
  margin: 8px;
  margin-left: 16px;
  color: white;
  font-size: 20px;
}

.container {
  width: 70%;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: 0;

  display: none;
}

.obj-trigger {
  z-index: 1;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  text-align: center;
}

/* front objs */
#keypad {
  height: 9%;
  width: 5%;
  left: 30%;
  top: 47%;
}

#switch {
  height: 7%;
  width: 4%;
  right: 27%;
  top: 48%;
}

#panel {
  height: 10%;
  width: 12%;
  right: 22%;
  bottom: 12%;
}

#door {
  height: 62%;
  width: 23%;
  left: 39%;
  top: 28%;
}

/* left objs */
#plant {
  height: 8.5%;
  width: 4%;
  left: 9%;
  top: 60%;
}

#card {
  height: 4%;
  width: 3.5%;
  left: 29%;
  top: 66%;
}

#drawer-left {
  height: 4%;
  width: 16%;
  left: 2%;
  bottom: 24%;
}

#drawer-right {
  height: 4%;
  width: 16%;
  left: 19.5%;
  bottom: 24%;
}

#book {
  height: 8%;
  width: 6%;
  right: 25%;
  top: 41%;
}

/* right objs */
#paintings {
  height: 28%;
  width: 29%;
  left: 36%;
  top: 30%;
}

#cabin-left {
  height: 7%;
  width: 16.5%;
  left: 33%;
  bottom: 25%;
}

#cabin-right {
  height: 7%;
  width: 16.5%;
  right: 34%;
  bottom: 25%;
}

#cabin-bottom {
  height: 20%;
  width: 33%;
  left: 33%;
  bottom: 5%;
}

#manual {
  height: 5%;
  width: 5%;
  left: 22%;
  bottom: 3%;
}

/* back objs */
#newspaper {
  height: 7%;
  width: 12%;
  left: 25%;
  bottom: 22%;
}

#coffeemachine {
  height: 10%;
  width: 8%;
  right: 19.5%;
  bottom: 19%;
}

#plug {
  height: 2%;
  width: 1.5%;
  right: 22%;
  bottom: 7%;
}

#socket {
  height: 5%;
  width: 3%;
  right: 21%;
  top: 30%;
}

#fuse {
  height: 2%;
  width: 1.5%;
  left: 42%;
  top: 30.5%;
}

/* down objs */
#trapdoor {
  height: 28%;
  width: 19%;
  left: 41%;
  top: 38%;
}

/* up objs */
#light {
  height: 18%;
  width: 12%;
  left: 45%;
  top: 42%;
}

/* end objs */
#door-exit{
  height: 62%;
  width: 23%;
  left: 17%;
  top: 28%;
}

#door-oliver{
  height: 62%;
  width: 23%;
  right: 15%;
  top: 28%;
}

.keypad {
  height: 424px;
  width: 420px;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -240px;
  margin-left: -210px;
}

.keypad-code {
  margin: 2px;
  margin-bottom: 32px;
  padding: 0;
  height: 86px;
  width: 404px;
  display: inline-block;
  text-align: center;
  font-size: 64px;
  line-height: 86px;
  background-color: black;
  color: #7FFFD4;
}

.keypad-btn {
  margin: 2px;
  padding: 0;
  height: 72px;
  width: 132px;
  display: inline-block;
  text-align: center;
  font-size: 28px;
  line-height: 72px;
  background-color: #babca4;
  color: black;
}

.keypad-btn:hover {
  background-color: DimGrey;
  color: #7FFFD4;
}

.lock {
  height: 256px;
  width: 420px;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-top: -128px;
  margin-left: -210px;
}

.lock-btn {
  margin: 2px;
  padding: 0;
  height: 232px;
  width: 132px;
  display: inline-block;
  text-align: center;
  font-size: 128px;
  line-height: 232px;
  background-color: #babca4;
  color: white;
}

.lock-btn:hover {
  background-color: DimGrey;
  color: #7FFFD4;
}
