/*********************************************

This is the style file for this project.

**********************************************/

body{
  padding: 0;
  margin: 0;
}

canvas{
  display: block;
}
