body {
  margin: 64px;
  background-color: #f0e6c5;
  font-family: Helvetica, sans-serif;
  /* https://stackoverflow.com/questions/6900124/how-to-make-certain-text-not-selectable-with-css */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

p {
  font-size: 18px;
}

.stats {
  margin-top: 64px;
  font-size: 32px;
  font-weight: bold;
}

.redacted {
  background-color: black;
  color: transparent;
}

.revealed {
  background-color: transparent;
  color: red;
  cursor: pointer;
}

.found {
  background-color: yellow;
}

.ending {
  font-size: 28px;
  color: red;
  font-weight: bold;
}
