body {
  background-color: #262626;
  font-family: Helevtica,sans-serif;
}

.pixel{
  background-color: black;
  width: 24px;
  height: 24px;
  float: left;
  display: inline-block;

  text-align: center;
  line-height: 150%;
}
